/.vs/SlantedGlassesGameEngine/v16
/x64/Debug/GameBaseData.obj
/x64/Debug/GameText.obj
/x64/Debug/Scene.obj
/x64/Debug/SlantedG.60696F3D.tlog/CL.command.1.tlog
/x64/Debug/SlantedG.60696F3D.tlog/CL.read.1.tlog
/x64/Debug/SlantedG.60696F3D.tlog/CL.write.1.tlog
/x64/Debug/SlantedG.60696F3D.tlog/SlantedGlassesGameEngine.lastbuildstate
/x64/Debug/SlantedG.60696F3D.tlog/link.command.1.tlog
/x64/Debug/SlantedG.60696F3D.tlog/link.read.1.tlog
/x64/Debug/SlantedG.60696F3D.tlog/link.write.1.tlog
/x64/Debug/SlantedGlassesGameEngine.exe
/x64/Debug/SlantedGlassesGameEngine.ilk
/x64/Debug/SlantedGlassesGameEngine.log
/x64/Debug/SlantedGlassesGameEngine.obj
/x64/Debug/SlantedGlassesGameEngine.pdb
/x64/Debug/UI.obj
/x64/Debug/vc142.idb
/x64/Debug/vc142.pdb
/x64